<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Key1" value ="Data Source = C:\Users\IDETECO\Desktop\ZKAccess\ZKAccess.mdb" />
    <!--value="Data Source=\\158.30.27.252\RevisionMuestras\BD_Revision.mdb" />-->
  </appSettings>
</configuration>